HF_TOKEN=CHANGEME
RUNPOD_VOLUME_PATH=/runpod-volume
RUNPOD_MODELS_ROOT=/runpod-volume/models

FLUX_REPO_ID=black-forest-labs/FLUX.1-schnell
FLUX_DIFFUSION_FILENAME=flux1-schnell.safetensors
FLUX_AE_FILENAME=ae.safetensors

FLUX_TEXT_ENCODERS_REPO_ID=comfyanonymous/flux_text_encoders
FLUX_CLIP_L_FILENAME=clip_l.safetensors
FLUX_T5XXL_FILENAME=t5xxl_fp8_e4m3fn.safetensors

FLUX_IPADAPTER_REPO_ID=XLabs-AI/flux-ip-adapter
FLUX_IPADAPTER_SOURCE_FILENAME=ip_adapter.safetensors
FLUX_IPADAPTER_TARGET_FILENAME=flux-ipadapter-face.safetensors

FORCE_REDOWNLOAD=false
